*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-image: linear-gradient(to right top, #7c3e66, #975c75, #b07b88, #c59b9f, #d9bdbb, #dfc7c8, #e4d2d5, #e9dde0, #ded3dc, #cfcbda, #bbc4d5, #a5becc);
}

.form-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

h1{
    text-align: center;
    padding-top: 90px;
    color: white;
}

.container{
    padding: 20px 35px;
    background: #7C3E66;
    border-radius: 20px;
    text-align: left;
    width: inherit;
}

.container label{
    color: white;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.register-btn{
    background-color:#F2EBE9;
    color: #7C3E66;
    border: none;
    font-size: medium;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 100px;
    transition: .4s; 
    width: 50%;
    padding: 20px;
    margin-left: 25%;
}
.register-btn:hover{
    background-color: transparent;
    border: 2px solid #F2EBE9;
    color: #F2EBE9;
    cursor: pointer;
}